{{#each this}}
<div class="country-card">
  <h2 class="country-card__title">{{this.name}}</h2>
  <div class="country-card__inner">
    <div class="country-card__description"></div>
    <div class="country-card__flag">{{this.flag}}</div>
  </div>
</div>
</div>
{{/each}}